{% extends 'core/base.html' %}
{% load static %}
{% block title %}Lista Facturas{% endblock %}
{% load mathfilters %}
{% block content %}
    <!-- Table -->
    <div class="row" id="loan_table">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Facturas</h3>
                        </div>
{#                        <div class="col text-right">#}
{#                            <a href="{% url 'loan_create' %}" class="btn btn-sm btn-primary">Crear Préstamo</a>#}
{#                        </div>#}
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Código</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Fecha de pago</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Iva</th>
                            <th scope="col">Total</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for invoice in invoices %}
                            <tr>
                                <td scope="row">
                                    {{ invoice.code }}
                                </td>
                                <td scope="row">
                                    {{ invoice.loan.customer.name }}
                                </td>
                                <td scope="row">
                                    {{ invoice.payment_date }}
                                </td>
                                <td scope="row">
                                    ${{ invoice.subtotal }}
                                </td>
                                <td scope="row">
                                    ${{ invoice.tax }}
                                </td>
                                <td scope="row">
                                    {{ invoice.subtotal | addition:invoice.tax }}
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(32px, 32px, 0px);">
                                            <a class="dropdown-item" href="#">Ver mi factura</a>
                                            <a class="dropdown-item" href="#">Descargar Factura</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}