{% extends 'account/base.html' %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock %}
{% block subtitle %}Inicia sesión y empieza a registrar tus facturas y préstamos totalmente gratis.{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card bg-secondary shadow border-0">
                <div class="card-header bg-transparent pb-5">
                    <div class="text-muted text-center mt-2 mb-3"><small>Iniciar sesión con</small></div>
                    <div class="btn-wrapper text-center">
                        <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-neutral btn-icon">
                            <span class="btn-inner--icon"><img src="{% static 'core/img/icons/common/facebook.svg' %}"></span>
                            <span class="btn-inner--text">Facebook</span>
                        </a>
{#                        <a href="#" class="btn btn-neutral btn-icon">#}
{#                            <span class="btn-inner--icon"><img src="{% static 'core/img/icons/common/google.svg' %}"></span>#}
{#                            <span class="btn-inner--text">Google</span>#}
{#                        </a>#}
                    </div>
                </div>
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>O ingresa tus credenciales</small>
                    </div>
                    <form role="form" action="." method="post">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                </div>
                                <input class="form-control" name="username" placeholder="Username" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                </div>
                                <input class="form-control" name="password" placeholder="Contraseña" type="password">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary my-4">Iniciar Sesión</button>
                        </div>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <a href="{% url 'password_reset' %}" class="text-light"><small>¿Olvide mi contraseña?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="{% url 'register' %}" class="text-light"><small>Crear cuenta</small></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
