{% extends 'account/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
    <div class="container-login100" style="background-image: url('{% static 'account/images/bg-01.jpg' %}');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <span class="login100-form-title p-b-53">
                Restablecer contraseña
            </span>
            <div class="w-full text-center p-t-55">
                <span class="txt2">
                    Te hemos enviado un email con instrucciones para que puedas recuperar tu contraseña.
                </span>
                <span class="txt2">
                    Si no has recibido un email, asegurate de haber ingresado la dirección correcta.
                </span>
                <a href="{% url 'login' %}" class="txt2 bo1">
                    Iniciar Sesión.
                </a>
            </div>
        </div>
    </div>
{% endblock %}