{% extends 'account/base.html' %}
{% load static %}
{% block title %}Cambiar contraseña{% endblock %}
{% block content %}
    <div class="container-login100" style="background-image: url('{% static 'account/images/bg-01.jpg' %}');">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
            <span class="login100-form-title p-b-53">
                Contraseña cambiada
            </span>
            <div class="w-full text-center">
                <span class="txt2">
                    Tu contraseña se ha cambiado exitosamente.
                </span>
                <a href="{% url 'home' %}" class="txt2 bo1">
                    Presiona aquí para regresar al Menú principal.
                </a>
            </div>
        </div>
    </div>
{% endblock %}