{% extends 'core/base.html' %}
{% load static %}
{% block title %}Compras{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Datos</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h6 class="heading-small text-muted mb-4">Ingrese los siguientes datos</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_customer">Cliente</label>
                                        {{ form.customer }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_cost">Costo ($)</label>
                                        {{ form.cost }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_initial_fee">Pago inicial ($)</label>
                                        {{ form.initial_fee }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_taxes">Impuesto (%)</label>
                                        {{ form.taxes }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_total_periods">Total periodos</label>
                                        {{ form.total_periods }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_payment_period">Periodo de Pago</label>
                                        {{ form.payment_period }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label" for="id_date">Fecha</label>
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-primary text-center" value="Guardar">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}